{% extends 'base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Convert Domain</title>
</head>
<body>
    <h1>Convert Domain</h1>
    {% if status_messages %}
        <ul>
            {% for message in status_messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>





{% endblock %}
